<!DOCTYPE html>
<html lang="en">
<head id="head">

</head>

<body>
<div class="wrapper">

    <div id="header"></div>

    <div id="flags"></div>

    <div id="shortNav"></div>

    <div class="container_form">

        <p id="notification"></p>

        <form action="#" id="action" method="POST" >
            <input type="hidden" id="id"/>

            <label id="name"></label>
            <input type="text" id="field-name"/>

            <label id="date"></label>
            <input type="date" id="field-date"/>

            <input type="submit" id="submit"/>
        </form>

    </div>

</div>

<div id="footer"></div>

</body>
</html>