<!DOCTYPE html>
<html lang="en">
<head id="head">

</head>

<body>
<div class="wrapper">

    <div id="header"></div>

    <div id="flags"></div>

    <div id="shortNav"></div>

    <div class="container_form">

        <p id="notification"></p>

        <form method="POST" id="action" enctype="multipart/form-data">
            <input type="file" name="imagefile" id="imagefile" class="file">
            <input type="submit" id="submit"/>
        </form>

    </div>

    <div class="container">

        <div id="if">
            <h2 id="text"></h2>
        </div>

        <div>

            <div class="postcard_small" id="unless">
                <div class="photo_small">
                    <div>
                        <img class="img_small" id="src">
                    </div>
                </div>
                <p><a class="link" href="#" id="href"></a>
                </p>
            </div>

        </div>

    </div>

</div>

<div id="footer"></div>

<div id="script"></div>

</body>
</html>