<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/shortNav :: shortNavFragment}"></div>

    <div class="container_form">

        <p>Add photo</p>

        <form method="POST" th:action="@{'/add_photo/' + ${id}}" enctype="multipart/form-data">
            <input type="file" name="imagefile" id="imagefile" class="file">
            <input type="submit" value="Submit">
        </form>

    </div>

    <div class="container">

        <div th:if="${photos.isEmpty()}">
            <h2>Album is empty</h2>
        </div>

        <div>

            <div class="postcard_small" th:unless="${photos.isEmpty()}" th:each="photo : ${photos}">
                <div class="photo_small">
                    <div>
                        <img class="img_small" th:src="@{'/add_photo/' + ${id} + '/show/' + ${photo.id} + '/show'}">
                    </div>
                </div>
                <p><a class="link" href="#" th:href="@{'/add_photo/' + ${id} + '/show/' + ${photo.id} + '/delete'}">Delete</a>
                </p>
            </div>

        </div>


    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>