<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div class="nav">

        <ol>
            <li><a href="index.html">Home page</a></li>
            <li><a href="add_album.html">Add album</a></li>
            <li><a href="remove_album.html">Remove album</a></li>
            <li><a href="https://github.com/bartek-dec">About author</a></li>
        </ol>

    </div>

    <div class="container_form">

        <p>Create new album</p>

        <form method="POST">
            <label>Album's name:</label>
            <input type="text">

            <label>Date:</label>
            <input type="date">

            <input type="submit" value="Submit">
        </form>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>