<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Photo gallery</title>
	
	
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="css/fontello.css">	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
</head>

<body>
	<div class="wrapper">

			<div class="header">
				<h1>My travels</h1>
			</div>

			<div class="flags">
				<div class="flag_pl"><img src="png/flag_PL.png"></div>
				<div class="flag_gb"><img src="png/flag_GB.png"></div>
				<div style="clear: both;"></div>
			</div>

			<div class="nav">
				
				<ol>
					<li><a href="index.html">Home page</a></li>
					<li><a href="add_album.html">Add album</a></li>
					<li><a href="remove_album.html">Remove album</a></li>
					<li><a href="https://github.com/bartek-dec">About author</a></li>
				</ol>
			
			</div>

			<div class="container_form">

				<p>Create new album</p>

				<form method="POST">
					<label>Album's name:</label>
					<input type="text">

					<label>Date:</label>
					<input type="date">

					<input type="submit" value="Submit">
				</form>
				
			</div>
					
	</div>

	<div class="footer">2019 &copy; Bartek Dec. <i class="icon-mail-alt"></i>decbartek@gmail.com</div>
		
</body>
</html>