<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/longNav :: longNavFragment(${album.getId()})}"></div>

    <div class="form_wrapper">

        <div class="container_form_edit">

            <form th:action="@{'/edit_album/' + ${album.getId()} + '/updateData'}" th:object="${album}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <label>Album's name:</label>
                <input type="text" th:field="*{name}">

                <label>Date:</label>
                <input type="date" th:field="*{tripDate}">

                <input type="submit" value="Submit">
            </form>

        </div>

        <div class="container_form_edit">

            <p>Add photo</p>

            <form method="POST" th:action="@{'/edit_album/' + ${album.getId()} + '/updatePhoto'}"
                  enctype="multipart/form-data">
                <input type="file" name="imagefile" id="imagefile" class="file">
                <input type="submit" value="Submit">
            </form>

        </div>

    </div>

    <div class="container">

        <div th:if="${photos.isEmpty()}">
            <h2>Album is empty</h2>
        </div>

        <div class="postcard_small" th:unless="${photos.isEmpty()}" th:each="photo : ${photos}">
            <div class="photo_small">
                <div>
                    <img class="img_small"
                         th:src="@{'/displayPhotos/' + ${album.getId()} + '/' + ${photo.getId()} + '/display'}">
                </div>
            </div>
            <p>
                <a class="link" href="#"
                   th:href="@{'/edit_album/' + ${album.getId()} + '/' + ${photo.getId()} + '/delete'}">Delete</a>
            </p>
        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>