<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div class="flags">
        <div class="flag_pl"><img src="png/flag_PL.png"></div>
        <div class="flag_gb"><img src="png/flag_GB.png"></div>
        <div style="clear: both;"></div>
    </div>

    <div class="nav">

        <ol>
            <li><a href="index.html">Home page</a></li>
            <li><a href="add_album.html">Add album</a></li>
            <li><a href="edit_album.html">Edit album</a></li>
            <li><a href="remove_album.html">Remove album</a></li>
            <li><a href="https://github.com/bartek-dec">About author</a></li>
        </ol>

    </div>

    <div class="form_wrapper">

        <div class="container_form_edit">

            <p>Update album</p>

            <form method="POST">
                <label>Album's name:</label>
                <input type="text">

                <label>Date:</label>
                <input type="date">

                <input type="submit" value="Submit">
            </form>

        </div>

        <div class="container_form_edit">

            <p>Add photo</p>

            <form method="POST">
                <input type="file" name="add photo">
                <input type="submit" value="Submit">
            </form>

        </div>

    </div>

    <div class="container">

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/12.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/07.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/08.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/12.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/10.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/11.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/08.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/11.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

        <div class="postcard_small">
            <div class="photo_small">
                <div>
                    <img class="img_small" src="img/08.jpg">
                </div>
            </div>
            <p><a class="link" href="#">Delete</a></p>
        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>