<!DOCTYPE html>
<html lang="en">
<head id="head">

</head>

<body>
<div class="wrapper">

    <div id="header"></div>

    <div id="flags"></div>

    <div id="longNav"></div>

    <div class="form_wrapper">

        <div class="container_form_edit">

            <form id="data-action" method="POST">
                <input type="hidden" id="data-id"/>

                <label id="data-name"></label>
                <input type="text" id="data-field-name"/>

                <label id="date"></label>
                <input type="date" id="date-field"/>

                <input type="submit" id="submit-date"/>
            </form>

        </div>

        <div class="container_form_edit">

            <p id="add-photo"></p>

            <form method="POST" id="photo-action" enctype="multipart/form-data">
                <input type="file" name="imagefile" id="imagefile" class="file"/>
                <input type="submit" id="submit-photo"/>
            </form>

        </div>

    </div>

    <div class="container">

        <div id="if">
            <h2 id="no-photo"></h2>
        </div>

        <div class="postcard_small" id="unless">
            <div class="photo_small">
                <div>
                    <img class="img_small" id="src">
                </div>
            </div>
            <p>
                <a class="link" href="#" id="href"></a>
            </p>
        </div>

    </div>

</div>

<div id="footer"></div>

<div id="script"></div>

</body>
</html>