<!DOCTYPE html>
<html lang="en">
<head id="head">

</head>

<body>
<div class="wrapper">

    <div id="header"></div>

    <div id="flags"></div>

    <div id="shortNav"></div>

    <div class="container">

        <div id="if">
            <h2 id="noAlbums"></h2>
        </div>

        <div id="unless">

            <div class="postcard" id="each">

                <div class="photo">
                    <div class="overlayT">
                        <a href="#"><img class="img" id="src"></a>
                        <a class="link" href="#" id="href">
								<span class="icon">
									<i class="icon-search"></i>
									<p id="see"></p>
								</span>
                        </a>
                    </div>
                </div>
                <p id="name"></p>

            </div>

        </div>

    </div>

</div>

<div id="footer"></div>

<div id="script">

</div>

</body>
</html>