<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/shortNav :: shortNavFragment}"></div>

    <div class="container">

        <div th:if="${albums.isEmpty()}">
            <h2>There are no albums to show</h2>
        </div>

        <div th:unless="${albums.isEmpty()}">

            <div class="postcard" th:each="album : ${albums}">

                <div class="photo">
                    <div class="overlayT">
                        <a href="#"><img class="img" src="img/01.jpg" th:src="${album.getPhotos().get(0)}"></a>
                        <a class="link" href="#" th:href="@{show_album + '/' +${album.id}}">
								<span class="icon">
									<i class="icon-search"></i>
									<p>See album</p>
								</span>
                        </a>
                    </div>
                </div>
                <p th:text="${album.name}"></p>

            </div>

        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}">

</div>

</body>
</html>