<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div class="header">
        <h1>My travels</h1>
    </div>

    <div class="flags">
        <div class="flag_pl"><img src="png/flag_PL.png"></div>
        <div class="flag_gb"><img src="png/flag_GB.png"></div>
        <div style="clear: both;"></div>
    </div>

    <div class="nav">

        <ol>
            <li><a href="index.html">Home page</a></li>
            <li><a href="add_album.html">Add album</a></li>
            <li><a href="remove_album.html">Remove album</a></li>
            <li><a href="https://github.com/bartek-dec">About author</a></li>
        </ol>

    </div>

    <div class="container">

        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/01.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>

        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/02.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>

        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/03.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>

        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/04.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>


        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/05.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>

        <div class="postcard">

            <div class="photo">
                <img class="img" src="img/06.jpg">
            </div>
            <p><a href="#">Delete - Mauzoleum Taj Mahal - Agra, Indie</a></p>

        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>