<!DOCTYPE html>
<html lang="en">
<head id="head">

</head>

<body>
<div class="wrapper">

    <div id="header"></div>

    <div id="flags"></div>

    <div id="shortNav"></div>

    <div class="container">

        <div id="if">
            <h2 id="no-albums"></h2>
        </div>

        <div class="postcard" id="each">

            <div class="photo">
                <img class="img" id="src">
            </div>
            <p>
                <a href="#" id="href"></a>
            </p>

        </div>

    </div>

</div>

<div id="footer"></div>

<div id="script"></div>

</body>
</html>