<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/shortNav :: shortNavFragment}"></div>

    <div class="container">

        <div th:if="${albums.isEmpty()}">
            <h2 th:text="#{no.albums}"></h2>
        </div>

        <div class="postcard" th:each="album : ${albums}">

            <div class="photo">
                <img class="img" th:src="@{'/show/' + ${album.id}}">
            </div>
            <p>
                <a href="#" th:text="#{delete} + ' ' + ${album.getName()}"
                   th:href="@{'/remove_album/' + ${album.getId()} + '/delete'}">
                </a>
            </p>

        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>