<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/longNav :: longNavFragment}"></div>

    <div class="container">

        <div class="title">
            <h2>Mauzoleum Taj Mahal - Agra, Indie</h2>
        </div>

        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="show_img.html" target="_blank"><img class="img" src="img/12.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>

        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="#"><img class="img" src="img/07.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>

        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="#"><img class="img" src="img/08.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>

        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="#"><img class="img" src="img/12.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>


        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="#"><img class="img" src="img/10.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>

        <div class="postcard">
            <div class="photo">
                <div>
                    <a href="#"><img class="img" src="img/11.jpg"></a>
                </div>
            </div>
            <p></p>
        </div>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>