<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8">
	<title>Photo gallery</title>
	
	
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="css/fontello.css">	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
</head>

<body>
	<div class="wrapper">

			<div class="container">
			
				<div>
				
					<div> 
						<div>
							<img class ="large_img" src="img/12.jpg">
						</div>
					</div>
				</div>
				
			</div>
					
	</div>

	<div class="footer">2019 &copy; Bartek Dec. <i class="icon-mail-alt"></i>decbartek@gmail.com</div>
		
</body>
</html>