<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

	<meta charset="utf-8">
	<title>Photo gallery</title>
	
	
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="css/fontello.css">	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	
</head>

<body>
	<div class="wrapper">

			<div class="header">
				<h1>My travels</h1>
			</div>

			<div class="flags">
				<div class="flag_pl"><img src="png/flag_PL.png"></div>
				<div class="flag_gb"><img src="png/flag_GB.png"></div>
				<div style="clear: both;"></div>
			</div>

			<div class="nav">
				
				<ol>
					<li><a href="index.html">Home page</a></li>
					<li><a href="add_album.html">Add album</a></li>
					<li><a href="edit_album.html">Edit album</a></li>
					<li><a href="remove_album.html">Remove album</a></li>
					<li><a href="https://github.com/bartek-dec">About author</a></li>
				</ol>
			
			</div>

			

			<div class="container">

				<div class="title">
					<h2>Mauzoleum Taj Mahal - Agra, Indie</h2>
				</div>
			
				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="show_img.html" target="_blank"><img class="img" src="img/12.jpg"></a>
						</div>
					</div>
					<p></p>
				</div>
				
				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="#"><img class="img" src="img/07.jpg"></a>
						</div>
					</div>
					<p></p>
				</div>
				
				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="#"><img class="img" src="img/08.jpg"></a>
						</div>
					</div>
					<p></p>	
				</div>
				
				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="#"><img class="img" src="img/12.jpg"></a>
						</div>
					</div>
					<p></p>	
				</div>				
				

				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="#"><img class="img" src="img/10.jpg"></a>
						</div>
					</div>
					<p></p>		
				</div>

				<div class="postcard">
					<div class="photo"> 
						<div>
							<a href="#"><img class="img" src="img/11.jpg"></a>
						</div>
					</div>
					<p></p>	
				</div>
				
			</div>
					
	</div>

	<div class="footer">2019 &copy; Bartek Dec. <i class="icon-mail-alt"></i>decbartek@gmail.com</div>


	<script src="jquery-3.1.1.min.js"></script>
	
	<script>

	$(document).ready(function() {
	var NavY = $('.nav').offset().top;
	 
	var stickyNav = function(){
	var ScrollY = $(window).scrollTop();
		  
	if (ScrollY > NavY) { 
		$('.nav').addClass('sticky');
	} else {
		$('.nav').removeClass('sticky'); 
	}
	};
	 
	stickyNav();
	 
	$(window).scroll(function() {
		stickyNav();
	});
	});
	
	</script>
		
</body>
</html>