<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headFragment}">

</head>

<body>
<div class="wrapper">

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:replace="~{fragments/flags :: flagsFragment}"></div>

    <div th:replace="~{fragments/shortNav :: shortNavFragment}"></div>

    <div class="container">

        <h1>File is bigger than 1 MB</h1>

    </div>

</div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

<div th:replace="~{fragments/script :: scriptFragment}">

</div>

</body>
</html>